.card, .card-body {
  display: flex;
  flex-direction: column;
}
.App {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}
.card-body {
  border: 1px solid #dedcdc;
  padding: 10px;
}
.card-list {
  display: grid;
  gap: 20px;
  width: 100%;
}

.card-img {
  height: 300px;
  object-fit: cover;
  display: block;
}
.card-title {
  font-weight: 700;
  text-align: center;
}
.card-text {
  text-align: left;
}

.card-btn {
  background-color: #0d31f1;
  color: #fff;
  text-decoration: none;
  align-self: flex-start;
  height: 30px;
  padding: 7px 10px 0px 10px;
  border: none;
  border-radius: 10px;
}